<h2 class="ui header">
	New ksat_list
	<div class="sub header">Manage your account settings and set e-mail preferences.</div>
</h2>
<%= link_to 'Back', ksat_lists_path, class: "tiny ui teal button" %>

<%= render 'form' %>


