@import url(http://fonts.googleapis.com/css?family=Raleway);

body {
  background-color: #fff;
  color: #333;
  font-family: 'Raleway', Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

a {
  color: #000;
  text-decoration: none;
  &:visited {
    color: #666;
  }
  &:hover {
    color: #fff;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: snow;
  border-color: #E7BEBE;
  border-left: 0;
  color: #D95C5C;
}